node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
.env
README.md
Homestead.json
Homestead.yaml
/.vscode
/storage/logs/*
/public/hot
/public/storage
/vendor
/tests
.phpunit.result.cache
.env.testing
.DS_Store
Thumbs.db